/*------------------------------------*\
    #LAYOUT CONTAINER
\*------------------------------------*/

.container {
    margin: 0 10px;

    @media all and (min-width: 1190px) {
        max-width: 1170px;
        margin: 0 auto;
    }
}
