/*------------------------------------*\
    #LAYOUT FOOTER
\*------------------------------------*/

.footer {
    padding: 40px 0;

    color: #fff;
    background-color: map(colors, primary, dark);
}

.footer__widgets {
    lost-utility: clearfix;
}

.footer__widget {
    margin-top: 40px;

    &:first-child {
        margin-top: 0;
    }

    @media all and (min-width: 480px) {
        lost-column: 1/2;

        &:nth-child(2) {
            margin-top: 0;
        }
    }

    @media all and (min-width: 768px) {
        margin-top: 0;

        lost-column: 1/4;
    }
}

.footer__widget-title {
    margin: 0 0 40px 0;

    text-transform: uppercase;
}

.footer__sub {
    margin-top: 40px;
    padding: 10px;

    background-color: #1f1f1f;

    lost-utility: clearfix;
}

.footer__sub-copyright,
.footer__sub-nav {
    text-align: center;

    @media all and (min-width: 768px) {
        text-align: left;

        lost-column: 1/2;
    }
}

.footer__sub-copyright {
    margin: 0;

}

.footer__sub-nav {
    margin-top: 40px;

    @media all and (min-width: 768px) {
        margin-top: 0;

        text-align: right;
    }
}

.footer__sub-nav-link {
    margin: 10px 0;
    display: block;

    transition: color 0.3s ease-in-out;

    &:first-child {
        margin-left: 0;
    }

    &:hover {
        color: map(colors, secondary, base);
    }

    @media all and (min-width: 768px) {
        display: inline;
        margin: 0 5px;
    }
}



/* Widget contact */

.contact-us__address {
    margin-top: 20px;
}

.socials-list {
    padding: 0;

    list-style: none;

    lost-utility: clearfix;
}

.social-list__item {
    float: left;

    margin-left: 4px;

    &:first-child {
        margin-left: 0;
    }
}

.social-icon {
    display: block;

    width: 46px;
    height: 46px;

    background-image: url('../images/social-icons.png');

    &.facebook {
        background-position: 0px 0px;

        &:hover {
            background-position: 0px -47px;
        }
    }

    &.twitter {
        background-position: -52px 0px;

        &:hover {
            background-position: -52px -47px;
        }
    }

    &.dribble {
        background-position: -104px 0px;

        &:hover {
            background-position: -104px -47px;
        }
    }

    &.rss {
        background-position: -156px 0px;

        &:hover {
            background-position: -156px -47px;
        }
    }
}




/* Widget Tweets */

.tweets {
    padding: 0;

    list-style: none;
}

.tweet {
    margin-top: 20px;

    &:first-child {
        margin-top: 0;
    }
}

.tweet__author {
    font-weight: bold;

    transition: color 0.3s ease-in-out;

    &:hover {
        color: map(colors, secondary, base);
    }
}


/* Widget Latest Posts */

.posts {
    padding: 0;

    list-style: none;
}

.post {
    border-top: 1px dashed #858988;
    padding: 15px 0;

    transition: color 0.3s ease-in-out;

    &:first-child {
        padding-top: 0;
        border-top: none;
    }

    &:hover {
        color: map(colors, secondary, base);
    }
}


/* Widget Flickr */

.flickr-photos {
    padding: 0;

    list-style: none;

    lost-utility: clearfix;
}

.flickr-photo {
    padding: 4px;

    lost-column: 1/4 0 0;
}
