/*------------------------------------*\
    #LAYOUT HEADER
\*------------------------------------*/

.header {
    margin-top: 40px;

    lost-utility: clearfix;
}

.header__logo {

    @media all and (min-width: 768px) {
        lost-column: 1/3;
    }
}

.header__nav {
    margin-top: 40px;

    text-align: center;

    @media all and (min-width: 768px) {
        margin-top: 0;
        max-width: 570px;

        text-align: center;

        lost-column: 2/3;
    }
}

.header__nav-link {
    border: 1px solid map(colors, primary, light);
    padding: 10px 15px;

    background-color: map(colors, primary, dark);
    color: white;

    transition: background-color 0.3s ease-in-out;

    lost-column: 1/3 0 0;

    &:hover {
        background-color: map(colors, secondary, base);
    }

    @media all and (min-width: 480px) {
        border: none;

        lost-column: 1/6 0 0;
    }

    @media all and (min-width: 768px) {

    }
}
