/*------------------------------------*\
    #LAYOUT HERO
\*------------------------------------*/

.hero {
    margin-top: 40px;

    lost-utility: clearfix;
}

.hero__slider {

    @media all and (min-width: 768px) {
        lost-column: 8/12;
    }
}

.hero__text {
    text-align: center;

    @media all and (min-width: 480px) {
        text-align: left;
    }

    @media all and (min-width: 768px) {
        lost-column: 4/12;
    }
}

.hero__title {
    text-transform: uppercase;
}

.hero__desc {
    color: #858988;
}
