/*------------------------------------*\
    #LAYOUT LATEST UPDATE
\*------------------------------------*/

.latest-updates {
    lost-utility: clearfix;
}

.latest-news,
.latest-video {

    @media all and (min-width: 768px) {
        lost-column: 1/2;
    }
}

.latest-video {
    margin-top: 80px;

    @media all and (min-width: 768px) {
        margin-top: 0;
    }
}

.article__info {
    lost-utility: clearfix;
}

.article__thumbnail {

    @media all and (min-width: 480px) {
        lost-column: 2/3;
    }
}

.article__details {
    text-align: center;

    @media all and (min-width: 480px) {
        text-align: left;

        lost-column: 1/3;
    }
}
