/*------------------------------------*\
    #LAYOUT OUR WORK
\*------------------------------------*/

.our-work {

}

.projects {
    lost-utility: clearfix;
}

.project {
    display: block;
    margin-top: 20px;

    &:first-child {
        margin-top: 0;
    }

    @media all and (min-width: 480px) {
        lost-column: 1/2;

        &:nth-child(2) {
            margin-top: 0;
        }
    }

    @media all and (min-width: 768px) {
        margin-top: 0;

        lost-column: 1/4;
    }
}

.project__thumbnail {
    width: 100%; /* Les images ne sont pas asser grande pour le max-width */
}

.project__desc {
    padding: 12px;

    background-color: #ffffff;

    text-align: center;
}

.project__title {
    margin: 0;

    color: map(colors, secondary, base);

    font-size: 16px;
}

.project__text {
    margin: 4px 0 0 0;
}
