/*------------------------------------*\
    #LAYOUT SECTION
\*------------------------------------*/

.section {
    margin-top: 80px;
}

.section__title {
    margin: 0 0 20px 0;
    padding: 10px 5px;

    background-color: map(colors, primary, dark);
    color: #fff;

    font-size: 16px;
    text-transform: uppercase;
}

.section__title--highlight {
    color: map(colors, secondary, base);
}
