/*
 * POSTCSS PRECSS SMACSS-BEM boilerplate v1.0
 * Structure Inspired by Jonathan Snook : http://smacss.com
 * Author: @maxime beaudoin
 * Date: Sept 07 2015
 *
 * Documentation :
 *      https://github.com/jonathantneal/precss
 *      http://smacss.com
 *      http://csswizardry.com/2013/01/mindbemding-getting-your-head-round-bem-syntax/
 */


/* SETTINGS */
@import url(https://fonts.googleapis.com/css?family=Arvo);

.container {
    max-width: 1170px;
    margin: 0 auto;
}




.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

/* BASE */
@import 'base/normalize';
@import 'base/base';


/*TOOLS*/
@import 'tools/owlcarousel';



/* MODULE */
/*@import 'module'/slider';*/
/*@import 'module/social';*/


/* LAYOUT */
@import 'layout/page';
@import 'layout/header';
@import 'layout/hero';
@import 'layout/section';
@import 'layout/ourwork';
@import 'layout/latestupdates';
@import 'layout/footer';



/* STATE */



/* THEME */



/* SHAME FILE */
